.w60{
    width: 60%;
    padding: 0 2%;
}
.container {
    padding: 20px;
    margin: 0 auto;
}

.about-section {
    text-align: left;
    margin-bottom: 30px;
}

.about-section h2 {
    color: #00274d;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
}

.about-section h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #00274d;
    margin-top: 5px;
}

.about-section p {
    color: #4f4f4f;
    font-size: 16px;
    line-height: 1.6;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 2% 0 0 2.5%;
}

.stat {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    flex-direction: column;
}

.stat h3 {
    color: #00274d;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 500;
    text-align: left;
}

.stat p {
    color: #4f4f4f;
    font-size: 17px;
    margin-left: 1%;
    width: 80%;
    text-align: left;
}

.cta {
    text-align: center;
    margin-top: 30px;
}

.cta p {
    font-size: 18px;
    color: #00274d;
}

/* Адаптивность */
@media (max-width: 768px) {
    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat {
        flex: 1 1 100%;
        max-width: 300px;
    }

    .about-section h2 {
        font-size: 20px;
    }

    .about-section p {
        font-size: 14px;
    }

    .cta p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
.stat {
    display: flex;
    flex-direction: column;
}
}