.certificates-section {
  padding:2%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.certificates-title {
  font-size: 2rem;
  font-weight: 500;
  color: #03183f;
  margin-bottom: 20px;
}

.certificates-slider {
  width: 100%;
  overflow: hidden;
}

.certificate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  outline: none;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.certificate-photo {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.certificate-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #333333;
}

/* Адаптивность */
@media (max-width: 1024px) {
  .certificate-card {
    padding: 8px;
  }

  .certificate-title {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .certificate-card {
    padding: 6px;
  }

  .certificate-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .certificate-card {
    padding: 4px;
  }

  .certificate-title {
    font-size: 0.7rem;
  }
}
