
.ImgLogo {
  width: 80%;
  max-width: 120px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.navbar.scrolled {
  background-color: #002855;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #002855;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbar.scrolled .logo {
  color: #ffffff;
}
.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  transition: transform 0.3s ease;
}

.navbar.scrolled .nav-link {
  color: #ffffff; 
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #002855;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #03183fb4;
  color: #ffffff;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 30px;
  height: 25px;
}

.navbar.scrolled .menu-icon .line {
  background-color: #ffffff !important; 
}

.menu-icon.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.line {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.navbar.scrolled .nav-link{
  color: #03183f;
}
.navbar.scrolled .menu-icon .line {
  background-color: #ffffff !important; 
}

.navbar.scrolled .nav-link {
color: #ffffff ; 
}
.navbar.scrolled .nav-link:hover {
  background-color: #ffffff ; 
  color: #002855 ; 
  }


@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    z-index: -1;
    padding: 20px 30px;
    transform: translateX(-100%);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  .nav-links.open {
    z-index: 999;
    transform: translateX(0);
  }

  .nav-link {
    width: 100%;
    padding: 10px 0;
    text-align: left;
  }

  .menu-icon {
    display: flex;
  }
}

.open .nav-link{
  color: #002855;
}

.nav-links.open .nav-link {
  color: #002855;
}

.nav-links.open .nav-link:hover {
  background-color: #03183fb4;
  color: #ffffff;
}

/* Исправление цвета для мобильного состояния */
@media (max-width: 768px) {
  .nav-links.open .nav-link {
    color: #03183f;
  }
}

.language-switcher {
  display: flex;
  gap: 10px;
}

.language-switcher button {
  background: none;
  border: none;
  color: #03183f ;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s, ease .3s ;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}

.language-switcher button:hover {
  color: #03183fb4;
  border-bottom: 1px solid white;

}

.navbar.scrolled .language-switcher button {
  color: #ffffff;
}
