.partnership-page {
    padding: 50px 20px;
    /* background: linear-gradient(to bottom, #f9f9f9, #e8f5e9); */
  }
  
  .partnership-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .partnership-content {
    flex: 1;
    max-width: 600px;
  }
  
  .partnership-title {
    font-weight: 500;
    font-size: 2.5rem;
    color: #03183f;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .partnership-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #7a7979;
    margin-bottom: 15px;
  }
  
  .partnership-image-container {
    flex: 1;
    max-width: 600px;
    text-align: center;
  }
  
  .partnership-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    /* box-shadow: ; */
    transition: transform 0.3s ease;
  }
  
  .partnership-image:hover {
    transform: scale(1.05);
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .partnership-container {
      flex-direction: column;
      align-items: center;
    }
  
    .partnership-title {
      text-align: center;
    }
  
    .partnership-content {
      text-align: center;
    }
  
    .partnership-text {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .partnership-page{
      padding: 50px 20px 0;
    }
    .partnership-title {
      font-size: 1.2rem;
    }
  
    .partnership-text {
      font-size: 0.9rem;
    }
  
    .partnership-image {
      max-width: 90%;
    }
  }
  