.wagons-page {
  padding: 2%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.wagons-slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.wagons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.wagon-card {
  flex: 0 0 calc(100% / 4); /* Деление на 4 карточки */
  max-width: 300px;
  height: 350px;
  background: #3e5879;
  color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.wagon-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.slider-button {
  background-color: #213555;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-button:hover {
  background-color: #3e5879;
  transform: scale(1.1);
}




.wagons-page {
  padding: 2%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.wagons-page h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #03183f;
  margin-bottom: 20px;
}

.wagon-card {
  box-sizing: border-box;
  background: #3e5879;
  color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  height: 350px;
  /* padding: 10px; */
}

.wagon-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.wagon-info h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px 0;
}

.wagon-info p {
  font-size: 1rem;
  color: #eaeaea;
  margin: 3% 0;
}


/* Адаптивность */
@media (max-width: 1024px) {
  .wagon-card {
    flex: 0 0 calc(100% / 3); /* 3 карточки */
  }
}

@media (max-width: 768px) {
  .wagon-card {
    flex: 0 0 calc(100% / 2); /* 2 карточки */
  }
}

@media (max-width: 480px) {
  .wagon-card {
    flex: 0 0 100%; /* 1 карточка */
    height: 280px;
  }
  .wagons-page h1 {
    font-size: 1.4rem;
  }
  .wagon-image{
    height: 47%;
  }
}