/* WelcomePage.css */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 4%, rgba(4,25,67,1) 38%, rgba(5,38,89,1) 62%, rgba(7,72,135,1) 100%);
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #fff;
    overflow: hidden;
    padding: 20px;
  }
  
  .welcome-header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
  }
  
  .welcome-content p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 20px 0;
    line-height: 1.8;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .welcome-button-container {
    margin-top: 30px;
  }
  
  .welcome-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #03183f;
    background: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .welcome-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Адаптивные стили */
  @media (max-width: 768px) {
    .welcome-header h1 {
      font-size: 2.5rem;
    }
  
    .welcome-content p {
      font-size: 1.2rem;
    }
  
    .welcome-button {
      font-size: 1rem;
      padding: 12px 25px;
    }
  }
  
  @media (max-width: 480px) {
    .welcome-header h1 {
      font-size: 2rem;
    }
  
    .welcome-content p {
      font-size: 1rem;
    }
  
    .welcome-button {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }
  