@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
  list-style: none;
  text-decoration: none;
  font-weight: 400; 
  font-style: normal;
  
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
}

#home {
  background: linear-gradient(to right, #0073e6, #66a6ff);
  color: #ffffff;
}

#about {
  color: #2c3e50;
}

#services {
  background-color: #ffffff;
  color: #2c3e50;
  box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.1);
}
